version: "3.9"

services:
  mlc-llm-service:
    image: harbor.edgesync.cloud/nagarro-container-images/llm-mlc-llm-on-qualcomm-adreno:v1
    container_name: llm-mlc-llm-on-qualcomm-adreno
    stdin_open: true
    tty: true
    restart: always
    network_mode: host
    privileged: true
    env_file: ./.env
    entrypoint: ["/bin/bash", "-c"]
    command:
      - |
        chmod -R +x /workspace/qnn/bin/aarch64-oe-linux-gcc11.2 || true
        exec bash
    labels:
      maintainer: "Samir Singh <samir.singh@advantech.com>"
      vendor: "Advantech"
      version: "1.2"
      description: "QCS6490 MLC LLM Edge AI Development Container (Meta Llama 3.2 1B)"
    volumes:
      # mlc llm
      - /dev/socket/weston:/dev/socket/weston
      - /opt/qti/development:/opt/qti/development
      - ./model:/workspace/model/
      - ./.env:/workspace/.env
      - ./start_services.sh:/workspace/start_services.sh
      - ./wise-bench.sh:/workspace/wise-bench.sh
      - ./mlc_app.py:/workspace/mlc_app.py

      # QNN tools
      - /etc/xdg/weston:/etc/xdg/weston
      - /usr/share/X11:/usr/share/X11
      - /dev:/dev
      - /qnn/bin/aarch64-oe-linux-gcc11.2/snpe-throughput-net-run:/usr/bin/snpe-throughput-net-run
      - /qnn/bin/aarch64-oe-linux-gcc11.2/snpe-platform-validator:/usr/bin/snpe-platform-validator
      - /qnn/bin/aarch64-oe-linux-gcc11.2/snpe-parallel-run:/usr/bin/snpe-parallel-run
      - /qnn/bin/aarch64-oe-linux-gcc11.2/snpe-net-run:/usr/bin/snpe-net-run
      - /qnn/bin/aarch64-oe-linux-gcc11.2/snpe-diagview:/usr/bin/snpe-diagview
      - /qnn/bin/aarch64-oe-linux-gcc11.2/qnn-net-run:/usr/bin/qnn-net-run
      - /qnn/bin/aarch64-oe-linux-gcc11.2/qnn-platform-validator:/usr/bin/qnn-platform-validator
    working_dir: /workspace
    devices:
      - /dev/fastrpc-cdsp-secure
      - /dev/fastrpc-adsp-secure
      - /dev/kgsl-3d0:/dev/kgsl-3d0
      - /dev/dma_heap/system:/dev/dma_heap/system
      - /dev/dma_heap/qcom,system:/dev/dma_heap/qcom,system
      - /dev/dri/card0:/dev/dri/card0
      - /dev/dri/renderD128:/dev/dri/renderD128
      - /dev/fastrpc-cdsp:/dev/fastrpc-cdsp
      - /dev/video32:/dev/video32
      - /dev/video33:/dev/video33
    environment:
      LD_LIBRARY_PATH: "/workspace/qnn/lib/aarch64-oe-linux-gcc11.2:/workspace/lib"
      ADSP_LIBRARY_PATH: "/workspace/qnn/lib/hexagon-v68/unsigned"
      PATH: "/workspace/qnn/bin/aarch64-oe-linux-gcc11.2:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"

  openweb-ui-service:
    container_name: openweb-ui-service
    image: ghcr.io/open-webui/open-webui:v0.6.5
    network_mode: host
    env_file: ./.env
    environment:
      OPENAI_API_BASE_URL: ${OPENAI_API_MLC_LLM_BASE}
      PORT: ${OPENWEBUI_PORT}
      OPENAI_API_TAG: ${OPENAI_API_TAG}
      ENABLE_TAGS_GENERATION: ${ENABLE_TAGS_GENERATION}
      ENABLE_TITLE_GENERATION: ${ENABLE_TITLE_GENERATION}
    volumes:
      - openwebui-data:/app/backend/data
    depends_on:
      - mlc-llm-service
    restart: always

volumes:
  openwebui-data:
    driver: local
